---
layout: shadowboxes
fabricator: true
---


<div class="shadowbox-outer egg-1" id="shadowbox-1">

    <div class="shadowbox-inner camera-0">
        <div class="parallax-layer-0">
        </div>
        <div class="parallax-layer-1">
            <img class="svg-shadow-egg-13" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-13.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-12" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-12.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-2">
            <img class="svg-shadow-egg-11" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-11.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-10" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-10.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-3">
            <img class="svg-shadow-egg-09" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-09.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-08" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-08.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-4">
            <img class="svg-shadow-egg-07" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-07.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-06" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-06.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-5">
            <img class="svg-shadow-egg-05" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-05.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-04" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-04.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-6">
            <img class="svg-shadow-egg-03" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-03.svg" onload="SVGInject(this)">
            <img class="svg-shadow-egg-02" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-02.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-7">
            <img class="svg-shadow-egg-01" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/egg-1/shadow-egg-01.svg" onload="SVGInject(this)">
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}
