---
layout: shadowboxes
fabricator: true
---


<div class="shadowbox-outer clouds-1" id="shadowbox-1">

    <div class="shadowbox-inner camera-0">
        <div class="parallax-layer-0">
        </div>
        <div class="parallax-layer-1">
            <img class="svg-clouds1-2-8" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-8.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-8" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-8.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-2">
            <img class="svg-clouds1-2-7" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-7.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-7" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-7.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-3">
            <img class="svg-clouds1-2-6" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-6.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-6" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-6.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-4">
            <img class="svg-clouds1-2-5" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-5.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-5" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-5.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-5">
            <img class="svg-clouds1-2-4" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-4.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-4" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-4.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-6">
            <img class="svg-clouds1-2-3" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-3.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-3" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-3.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-7">
            <img class="svg-clouds1-2-2" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-2.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-2" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-2.svg" onload="SVGInject(this)">
        </div>
        <div class="parallax-layer-8">
            <img class="svg-clouds1-2-1" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-2-1.svg" onload="SVGInject(this)">
            <img class="svg-clouds1-1-1" src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/images/misc/clouds1-1-1.svg" onload="SVGInject(this)">
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}
