---
layout: demo
fabricator: true
---


<div class="shadowbox-outer egg-1" id="shadowbox-1">

    <div class="shadowbox-inner camera-0">
        <div class="parallax-layer-0">
        </div>
        <div class="parallax-layer-1">
            <svg class="svg-shadow-egg-13" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-13"></use>
            </svg>
            <svg class="svg-shadow-egg-12" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-12"></use>
            </svg>
        </div>
        <div class="parallax-layer-2">
            <svg class="svg-shadow-egg-11" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-11"></use>
            </svg>
            <svg class="svg-shadow-egg-10" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-10"></use>
            </svg>
        </div>
        <div class="parallax-layer-3">
            <svg class="svg-shadow-egg-09" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-09"></use>
            </svg>
            <svg class="svg-shadow-egg-08" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-08"></use>
            </svg>
        </div>
        <div class="parallax-layer-4">
            <svg class="svg-shadow-egg-07" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-07"></use>
            </svg>
            <svg class="svg-shadow-egg-06" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-06"></use>
            </svg>
        </div>
        <div class="parallax-layer-5">
            <svg class="svg-shadow-egg-05" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-05"></use>
            </svg>
            <svg class="svg-shadow-egg-04" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-04"></use>
            </svg>
        </div>
        <div class="parallax-layer-6">
            <svg class="svg-shadow-egg-03" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-03"></use>
            </svg>
            <svg class="svg-shadow-egg-02" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-02"></use>
            </svg>
        </div>
        <div class="parallax-layer-7">
            <svg class="svg-shadow-egg-01" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4600 4600" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-shadow-egg-01"></use>
            </svg>
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}

<!-- inject SVGs  -->
<div id='svg-container' style="position:fixed; visibility:hidden"></div>
<script src='{{#if baseurl}}{{baseurl}}/{{/if}}assets/toolkit/svg/egg-1.js'></script>
<!-- /inject SVGs -->
