---
layout: shadowboxes
fabricator: false
---


<div class="shadowbox-outer tile-1" id="shadowbox-1">

    <div class="shadowbox-inner camera-0">
        <div class="parallax-layer-0">
        </div>
        <div class="parallax-layer-1">
            <svg class="svg-tile-7" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-7"></use>
            </svg>
        </div>
        <div class="parallax-layer-2">
            <svg class="svg-tile-6" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-6"></use>
            </svg>
        </div>
        <div class="parallax-layer-3">
            <svg class="svg-tile-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-5"></use>
            </svg>
        </div>
        <div class="parallax-layer-4">
            <svg class="svg-tile-4" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-4"></use>
            </svg>
        </div>
        <div class="parallax-layer-5">
            <svg class="svg-tile-3" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-3"></use>
            </svg>
        </div>
        <div class="parallax-layer-6">
            <svg class="svg-tile-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-2"></use>
            </svg>
        </div>
        <div class="parallax-layer-7">
            <svg class="svg-tile-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 389 389" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tile-1--tile-1"></use>
            </svg>
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}
