---
layout: shadowboxes
fabricator: false
---


<div class="shadowbox-outer egg-2" id="shadowbox-1">

    <div class="shadowbox-inner camera-0">
        <div class="parallax-layer-0">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-01"></use>
            </svg>
        </div>
        <div class="parallax-layer-1">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-03"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-02"></use>
            </svg>
        </div>
        <div class="parallax-layer-2">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-05"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-04"></use>
            </svg>
        </div>
        <div class="parallax-layer-3">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-07"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-06"></use>
            </svg>
        </div>
        <div class="parallax-layer-4">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-09"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-08"></use>
            </svg>
        </div>
        <div class="parallax-layer-5">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-11"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-10"></use>
            </svg>
        </div>
        <div class="parallax-layer-6">
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-13"></use>
            </svg>
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#egg-1--shadow-egg-12"></use>
            </svg>
        </div>
        <div class="parallax-layer-7">
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}
