---
layout: shadowboxes
fabricator: false
---


<div class="shadowbox-outer jellyfish-2">

    <div class="shadowbox-inner">
        <div class="parallax-layer-7">
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-5"></use>
            </svg>
        </div>
        <div class="parallax-layer-6">
            <!-- empty layer -->
        </div>
        <div class="parallax-layer-5">
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-4"></use>
            </svg>
        </div>
        <div class="parallax-layer-4">
            <svg class="color-6" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-3-2"></use>
            </svg>
            <svg class="color-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-3-1"></use>
            </svg>
        </div>
        <div class="parallax-layer-3">
            <svg class="color-4" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-2-2"></use>
            </svg>
            <svg class="color-3" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-2-1"></use>
            </svg>
        </div>
        <div class="parallax-layer-2">
            <svg class="color-2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-1-2"></use>
            </svg>
            <svg class="color-1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-1-1"></use>
            </svg>
        </div>
        <div class="parallax-layer-1">
            <!-- empty layer -->
        </div>
        <div class="parallax-layer-0">
            <svg class="color-0" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" >
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jellyfish-1--jellyfish-0"></use>
            </svg>
        </div>
    </div>
</div>

{{> demo-shadowbox-controls}}
